<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #343a40;
        }
        p {
            color: #6c757d;
        }
    </style>
</head>
<body>
    <h1><h1>CVE-2024-3571 POC</h1>
    <a href="/">BACK</a>
    <p>Your file contents are: {{ file_contents }} </p>
    <p>AI Features Coming Soon! </p>
</body>
</html>